#first-part{

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 5px;

}


h1{
  text-align: center;
 text-emphasis-color: red;
  padding: 10%;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.results{
display: flex;
align-items: flex-start;
justify-content:space-around;
border: 3em;
border: solid;

}
ul {
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 3em;
}

.front-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border: solid;
}

img{
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border:2px dotted blue;
}


